.bg-blue {
  background-color: aliceblue;
}

.socialLink {
  text-decoration: none;
  color: grey;

  & i {
    color: black;
  }
}

.reverseSocials {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.dateWithin {
  position: absolute;
  top: -20px;
  left: -55px;
  color: grey;
  text-align: center;
  width: fit-content;
}

.experience .dateWithin {
  top: -40px;
}

.education {
  margin: 2rem 2.5rem;
}

.experience {
  margin: 3rem 2.5rem;
}

.education-item,
.experience-item {
  position: relative;
}

.timeline {
  position: absolute;
  top: 20px;
  left: -16px;
  height: 101%;
}

.timeline:first-of-type {
  top: -10px;
  height: auto;
}

.location {
  color: cornflowerblue;
}
