:root {
  --color: #29648a;
}

nav {
  background-color: var(--color);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 16px;

  & h1 {
    font-size: xx-large;
    color: white;
  }

  & h2 {
    font-size: larger;
    color: white;
  }
}

i {
  color: var(--color);
}

.curriculum {
  display: flex;
  padding-left: 5px;
}

.experience {
  padding: 10px;
}

.curriculum h2 {
  color: var(--color);
  border-bottom: 2px solid var(--color);
}

.aboutMe {
  padding: 10px;
  background-color: lightgray;
}

.aboutMe p,
.aboutMe span {
  font-size: 15px;
  color: black;
}

b {
  color: var(--color);
}

.progress {
  border-radius: 0px 10px 10px 0px !important;
  height: 20px !important;
}

.progress-bar {
  background-color: var(--color) !important;
  border-radius: 0px 10px 10px 0px !important;
}

.job {
  margin-bottom: 16px;
}

.jobDescription {
  font-size: 12px;
}

.experience h4 {
  margin-bottom: 0px;
}

.back {
  display: block;
  text-align: center;
}
